
desktop.ini
Submissions/Milestone2/AA.PMTOGO.Registration/.vs/AA.PMTOGO.Registration/DesignTimeBuild/.dtbcache.v2
Submissions/Milestone2/AA.PMTOGO.Registration/.vs/AA.PMTOGO.Registration/DesignTimeBuild/.dtbcache.v2
Submissions/Milestone2/AA.PMTOGO.Registration/.vs/AA.PMTOGO.Registration/DesignTimeBuild/.dtbcache.v2
Submissions/Milestone2/AA.PMTOGO.Registration/.vs/AA.PMTOGO.Registration/DesignTimeBuild/.dtbcache.v2
Submissions/Milestone2/AA.PMTOGO.Registration/.vs/AA.PMTOGO.Registration/FileContentIndex/5f0e2133-ad6c-4d2e-afaa-3404d8bec88f.vsidx
Submissions/Milestone2/AA.PMTOGO.Registration/.vs/AA.PMTOGO.Registration/FileContentIndex/6fdb13ce-9e75-440c-b4ff-2e31347d1265.vsidx
Submissions/Milestone2/AA.PMTOGO.Registration/.vs/AA.PMTOGO.Registration/FileContentIndex/ff2040e7-3deb-4d56-af77-7cc2589c9310.vsidx
Submissions/Milestone2/AA.PMTOGO.Registration/.vs/AA.PMTOGO.Registration/v17/.futdcache.v2
Submissions/Milestone2/AA.PMTOGO.Registration/.vs/AA.PMTOGO.Registration/v17/.suo
Submissions/Milestone2/AA.PMTOGO.Registration/.vs/AA.PMTOGO.Registration/DesignTimeBuild/.dtbcache.v2
Submissions/Milestone2/AA.PMTOGO.Registration/.vs/AA.PMTOGO.Registration/v17/.futdcache.v2
Submissions/Milestone2/AA.PMTOGO.Registration/.vs/AA.PMTOGO.Registration/v17/.suo
Submissions/Milestone2/AA.PMTOGO.Registration/.vs/ProjectEvaluation/aa.pmtogo.registration.metadata.v5.1
Submissions/Milestone2/AA.PMTOGO.Registration/.vs/ProjectEvaluation/aa.pmtogo.registration.projects.v5.1
Submissions/Milestone2/AA.PMTOGO.Registration/ConsoleApp1/bin/Debug/net6.0/ConsoleApp1.deps.json
Submissions/Milestone2/AA.PMTOGO.Registration/ConsoleApp1/bin/Debug/net6.0/ConsoleApp1.dll
Submissions/Milestone2/AA.PMTOGO.Registration/ConsoleApp1/bin/Debug/net6.0/ConsoleApp1.pdb
Submissions/Milestone2/AA.PMTOGO.Registration/ConsoleApp1/bin/Debug/net6.0/ConsoleApp1.exe
Submissions/Milestone2/AA.PMTOGO.Registration/ConsoleApp1/bin/Debug/net6.0/ConsoleApp1.runtimeconfig.json
Submissions/Milestone2/AA.PMTOGO.Registration/ConsoleApp1/ConsoleApp1.csproj
Submissions/Milestone2/AA.PMTOGO.Registration/ConsoleApp1/obj/ConsoleApp1.csproj.nuget.dgspec.json
Submissions/Milestone2/AA.PMTOGO.Registration/ConsoleApp1/obj/ConsoleApp1.csproj.nuget.g.props
Submissions/Milestone2/AA.PMTOGO.Registration/ConsoleApp1/obj/ConsoleApp1.csproj.nuget.g.targets
Submissions/Milestone2/AA.PMTOGO.Registration/ConsoleApp1/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
*.dll
*.pdb
*.json
*.cache
Submissions/Milestone2/AA.PMTOGO.Registration/ConsoleApp1/Program.cs
Submissions/Milestone2/AA.PMTOGO.Registration/TextFile1.txt
Submissions/Milestone2/AA.PMTOGO.Registration/ConsoleApp1/obj/Debug/net6.0/ConsoleApp1.GlobalUsings.g.cs
Submissions/Milestone2/AA.PMTOGO.Registration/ConsoleApp1/obj/Debug/net6.0/ConsoleApp1.GeneratedMSBuildEditorConfig.editorconfig
Submissions/Milestone2/AA.PMTOGO.Registration/ConsoleApp1/obj/Debug/net6.0/ConsoleApp1.csproj.FileListAbsolute.txt
Submissions/Milestone2/AA.PMTOGO.Registration/ConsoleApp1/obj/Debug/net6.0/ConsoleApp1.AssemblyInfo.cs
Submissions/Milestone2/AA.PMTOGO.Registration/ConsoleApp1/obj/Debug/net6.0/apphost.exe
Submissions/Milestone2/AA.PMTOGO.Registration/.vs/AA.PMTOGO.Registration/DesignTimeBuild/.dtbcache.v2
Submissions/Milestone2/AA.PMTOGO.Registration/.vs/AA.PMTOGO.Registration/v17/.futdcache.v2
Submissions/Milestone2/AA.PMTOGO.Registration/.vs/AA.PMTOGO.Registration/v17/.suo
*.1
